<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankAppServiceNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BankAppServiceN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BankAppServiceNS.Properties.Settings>
            <setting name="DataBaseFilePath" serializeAs="String">
                <value>D:\Bank.bin</value>
            </setting>
        </BankAppServiceNS.Properties.Settings>
        <BankAppServiceN.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value>D:\Bank.bin</value>
            </setting>
        </BankAppServiceN.Properties.Settings>
    </userSettings>
</configuration>